In [1]:
import pandas as pd
import zipfile

zf = zipfile.ZipFile(r'C:\Users\smnsr\Downloads\justynaCase.zip') 
df = pd.read_csv(zf.open('AAPL.csv'))

In [2]:
df.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,43.625000,43.349998,43.375000,43.492500,67928400.0,41.357002
1,2017-11-14,43.369999,42.794998,43.259998,42.834999,99130000.0,40.731789
2,2017-11-15,42.580002,42.095001,42.492500,42.270000,116632400.0,40.194534
3,2017-11-16,42.967499,42.575001,42.794998,42.775002,94550000.0,40.674740
4,2017-11-17,42.847500,42.410000,42.759998,42.537498,87598000.0,40.448902

In [3]:
pd.DataFrame(df)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,43.625000,43.349998,43.375000,43.492500,67928400.0,41.357002
1,2017-11-14,43.369999,42.794998,43.259998,42.834999,99130000.0,40.731789
2,2017-11-15,42.580002,42.095001,42.492500,42.270000,116632400.0,40.194534
3,2017-11-16,42.967499,42.575001,42.794998,42.775002,94550000.0,40.674740
4,2017-11-17,42.847500,42.410000,42.759998,42.537498,87598000.0,40.448902
...,...,...,...,...,...,...,...
1254,2022-11-07,139.149994,135.669998,137.110001,138.919998,83374600.0,138.919998
1255,2022-11-08,141.429993,137.490005,140.410004,139.500000,89908500.0,139.500000
1256,2022-11-09,138.550003,134.589996,138.500000,134.869995,74917800.0,134.869995
1257,2022-11-10,146.869995,139.500000,141.240005,146.869995,118854000.0,146.869995
1258,2022-11-11,150.009995,144.369995,145.820007,149.699997,93903800.0,149.699997

In [4]:
df['Close','Adj_Close']

KeyError: ('Close', 'Adj_Close')

In [5]:
df.sort_values('Date',ascending=True)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,43.625000,43.349998,43.375000,43.492500,67928400.0,41.357002
1,2017-11-14,43.369999,42.794998,43.259998,42.834999,99130000.0,40.731789
2,2017-11-15,42.580002,42.095001,42.492500,42.270000,116632400.0,40.194534
3,2017-11-16,42.967499,42.575001,42.794998,42.775002,94550000.0,40.674740
4,2017-11-17,42.847500,42.410000,42.759998,42.537498,87598000.0,40.448902
...,...,...,...,...,...,...,...
1254,2022-11-07,139.149994,135.669998,137.110001,138.919998,83374600.0,138.919998
1255,2022-11-08,141.429993,137.490005,140.410004,139.500000,89908500.0,139.500000
1256,2022-11-09,138.550003,134.589996,138.500000,134.869995,74917800.0,134.869995
1257,2022-11-10,146.869995,139.500000,141.240005,146.869995,118854000.0,146.869995
1258,2022-11-11,150.009995,144.369995,145.820007,149.699997,93903800.0,149.699997

In [6]:
df.sort values('Date',ascending=False)

SyntaxError: invalid syntax (1371705599.py, line 1)

In [7]:
df.sort_values('Date',ascending=False)

,Date,High,Low,Open,Close,Volume,Adj Close
1258,2022-11-11,150.009995,144.369995,145.820007,149.699997,93903800.0,149.699997
1257,2022-11-10,146.869995,139.500000,141.240005,146.869995,118854000.0,146.869995
1256,2022-11-09,138.550003,134.589996,138.500000,134.869995,74917800.0,134.869995
1255,2022-11-08,141.429993,137.490005,140.410004,139.500000,89908500.0,139.500000
1254,2022-11-07,139.149994,135.669998,137.110001,138.919998,83374600.0,138.919998
...,...,...,...,...,...,...,...
4,2017-11-17,42.847500,42.410000,42.759998,42.537498,87598000.0,40.448902
3,2017-11-16,42.967499,42.575001,42.794998,42.775002,94550000.0,40.674740
2,2017-11-15,42.580002,42.095001,42.492500,42.270000,116632400.0,40.194534
1,2017-11-14,43.369999,42.794998,43.259998,42.834999,99130000.0,40.731789
0,2017-11-13,43.625000,43.349998,43.375000,43.492500,67928400.0,41.357002

In [8]:
df['zero_difference'] = df['Close']-df['Adj Close']

In [9]:
print(df)

            Date        High         Low        Open       Close       Volume  \
0     2017-11-13   43.625000   43.349998   43.375000   43.492500   67928400.0
1     2017-11-14   43.369999   42.794998   43.259998   42.834999   99130000.0
2     2017-11-15   42.580002   42.095001   42.492500   42.270000  116632400.0
3     2017-11-16   42.967499   42.575001   42.794998   42.775002   94550000.0
4     2017-11-17   42.847500   42.410000   42.759998   42.537498   87598000.0
...          ...         ...         ...         ...         ...          ...
1254  2022-11-07  139.149994  135.669998  137.110001  138.919998   83374600.0
1255  2022-11-08  141.429993  137.490005  140.410004  139.500000   89908500.0
1256  2022-11-09  138.550003  134.589996  138.500000  134.869995   74917800.0
1257  2022-11-10  146.869995  139.500000  141.240005  146.869995  118854000.0
1258  2022-11-11  150.009995  144.369995  145.820007  149.699997   93903800.0

       Adj Close  zero_difference
0      41.357002         2.135498
1      40.731789         2.103210
2      40.194534         2.075466
3      40.674740         2.100262
4      40.448902         2.088596
...          ...              ...
1254  138.919998         0.000000
1255  139.500000         0.000000
1256  134.869995         0.000000
1257  146.869995         0.000000
1258  149.699997         0.000000

[1259 rows x 8 columns]

In [10]:
df[df['zero_difference']==0]

,Date,High,Low,Open,Close,Volume,Adj Close,zero_difference
1253,2022-11-04,142.669998,134.380005,142.089996,138.380005,140716700.0,138.380005,0.0
1254,2022-11-07,139.149994,135.669998,137.110001,138.919998,83374600.0,138.919998,0.0
1255,2022-11-08,141.429993,137.490005,140.410004,139.500000,89908500.0,139.500000,0.0
1256,2022-11-09,138.550003,134.589996,138.500000,134.869995,74917800.0,134.869995,0.0
1257,2022-11-10,146.869995,139.500000,141.240005,146.869995,118854000.0,146.869995,0.0
1258,2022-11-11,150.009995,144.369995,145.820007,149.699997,93903800.0,149.699997,0.0

In [11]:
df['Adj Close'].min()

34.30958938598633

In [12]:
df['Adj Close'].max()

180.9597320556641

In [13]:
df ['Adj Close'].min()

34.30958938598633

In [14]:
df ['Adj Close'].mean()

94.17366393546058

In [15]:
df ['Adj Close'].median()

78.63384246826172

In [16]:
df.idxmax()

TypeError: reduction operation 'argmax' not allowed for this dtype

In [17]:
df.groupby(['High','Low'])['Date'].max()

High        Low
36.430000   35.500000     2019-01-03
37.137501   35.950001     2019-01-04
37.207500   36.474998     2019-01-07
37.817501   37.305000     2019-01-14
37.887501   36.647499     2018-12-24
                             ...
181.139999  170.750000    2021-12-16
181.330002  178.529999    2021-12-28
182.130005  175.529999    2021-12-13
182.880005  177.710007    2022-01-03
182.940002  179.119995    2022-01-04
Name: Date, Length: 1259, dtype: object